@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,900;1,14..32,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.main {
  width: 100%;
  max-width: 1440px;
  height: 698px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../Assets/Hero-bg.png");
  background-repeat: repeat;
  background-size: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  text-align: center;
  padding: 20px;
  position: relative; 
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 50px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Raleway", sans-serif;
  color: #4e47ff;
  opacity: 100%;
  
}

.btn-class {
  width: 132px;
  height: 48px;
  align-items: center;
  gap: 10px;
  padding: 12px 36px;
  opacity: 100%;
  border-radius: 10px;
  background-color: #4e47ff;
  color: #ffffff;
}

.banner h1 {
  font-family: "Raleway", sans-serif;
  display: block;
  align-items: center;
  justify-content: center;
}
.banner-class {
  width: 905px;
  height: 237px;
  text-align: center;
  gap: 37px;
  padding: 0px 0px;
  opacity: 100%;
  border-radius: 0px;
  display: block;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}
.heading {
  align-content: center;
}
.focus-btn {
  padding: 12px 30px;
  background-color: #28a745;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
/*FOoter style*/
.foot{
    width: 100%;

}
.footer_site {
  display: block;
  text-align: center;
  margin: 454px 104px;
  
  align-items: flex-start;
  gap: 30px;
  padding: 0px 0px;
  padding: 0;
  opacity: 100%;
  border-radius: 0px;
}
.footer_logo {
  display: block;
  margin: 120px 0px;
  width: auto;
  height: auto;
  opacity: 100%;
  border-radius: 0;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #4e47ff;
  
}
.footer_site h4 {
  display: block;
  margin: 0px 120px;
  opacity: 100%;
  font-family: "Roboto", sans-serif;
   font-variation-settings:"wdth" 100;
}

.footer_link {
  display: flex;
  color: #8987a1;
  opacity: 100%;
  width: 401px;
  height: 24px;
  gap: 48px;
  padding: 20px;
  border-radius: 0px;
}
