@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,900;1,14..32,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.main {
  width: 100%;
  max-width: 1440px;
  height: 698px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
  overflow: hidden;

  background-image: url("../Assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0px 5px;
  padding: 50px 0;
  position: absolute;
  top: 0;
  left: 10%;
  font-family: "Raleway", sans-serif;
  color: #4e47ff;
  opacity: 1;
  z-index: 10;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 37px;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.banner-heading {
  font-family: "Raleway", sans-serif;
  font-size: 65px;
  line-height: auto;
  margin-bottom: 0;
  color: #252432;
}

.focus-btn {
  font-family: "Raleway", sans-serif;
  padding: 12px 30px;
  background-color: #4e47ff;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.focus-btn:hover {
  background-color: burlywood;
}

/*Users style*/
.Users-section {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  min-height: 306px;
  padding: 80px 50px;
  border-radius: 24px;
  background-color: #f0edfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.user-headline {
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  line-height: 1.2;
  text-align: center;
  color: #252432;
  font-weight: bold;
  margin: 0;
}
.user-stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 856px;
  min-height: 121px;
  padding: 0px 0px;
}

.user-stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  min-width: 250px;
  max-width: 280px;
}
.stat-number {
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-weight: 700;
  color: #4e47ff;
  margin-bottom: 5px;
}
.stat-description {
  font-family: "Inter", sans-serif;
  font-size: 0.9em;
  color: #8987a1;
  margin: 0;
}


/*User Feedback*/
.user-feedback-section {
  width: 100%;
  max-width: 1140px;
  margin: 80px auto;
  padding: 0 20px;
  text-align: center;
  min-height: 312px;
}
.section-heading {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  text-align: center;
  color: #252432;
  margin-bottom: 60px;
}
.feedback-cards-container{
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.feedback-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   align-items: flex-start;
  width:calc((100%-48px)/3);
  width: 350px;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  text-align: left;
  min-height: 200px;
}

.star-rating img {
  width: 16px;
  height: 16px;
}
.feedback-content {
  text-align: left;
  margin-bottom: 20px;
}
.feedback-title {
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
.feedback-text {
  font-family: "Inter", sans-serif;
  font-size: 0.9em;
  line-height: 1.5;
  color: #8987a1;
  margin: 0;
}
.reviewer-info {
  display: flex;
  align-items: center;
  gap: 10px;
 /* margin-top: auto;*/
}
.reviewer-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.reviewer-details {
  /*display: flex;
  flex-direction: column;*/
  text-align: left;
}
.reviewer-name {
  font-family: "Inter", sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  color: #333;
  margin: 0;
}
.review-date {
  font-family: "Inter", sans-serif;
  font-size: 0.8em;
  color: #8987a1;
  margin: 0;
}

/*Focus section*/
.focus-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  min-height: 696px;
  padding: 150px 71px;
  background-color: #ffffff;
  gap: 20px;
}
.focus-section-header {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.2;
  color: #000000;
  opacity: 100%;
  margin-bottom: 10px;
}
.focus-section-description {
  text-align: left;
  color: rgba(0, 0, 0, 0, 0, 0, 0.5);
  opacity: 0.5;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin-bottom: 20px;
}
.focus-img-section {
  width: 100%;
  max-width: 840px;
  height: 364.77px;
  border-radius: 48px;
  overflow: hidden;
}
/*touch style*/
.touch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 71px;
  margin: auto;
  background-color: #ffffff 50%;
}
.left {
  width: 528px;
  height: 232px;
  opacity: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 3.5em;
  line-height: 1.2;
  margin-bottom: 0;
  color: #000000;
}
.right {
  width: 497px;
  height: 490px;
  gap: 19px;
  padding: 0px 0px;
  opacity: 1;
}
.right-section {
  width: 497px;
  height: 102px;
  gap: 10px;
  padding: 0px 0px;
}
.right-section h3 {
  width: 497px;
  height: 22px;
  opacity: 100%;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
}
.right-section_message {
  width: 497px;
  height: 167px;
  gap: 10px;
  padding: 0px 0px;
  background-color: #ffffff 100%;
}
.right_section_input {
  width: 497px;
  height: 70px;
  border-radius: 10px;
  background-color: #ffffff 100%;

  font-family: "Inter", sans-serif;
  line-height: 1.5;
  padding-left: 20px;
}
.right_section_input::placeholder {
  width: 194px;
  height: 30px;
  opacity: 1;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  color: #000000 50%;
}
.right-section_message_input {
  width: 497px;
  height: 135px;
  gap: 10px;
  padding: 32px 20px;
  border-radius: 10px;
  background-color: #ffffff 100%;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: normal;
  z-index: 0;
}
.right-section_message_input::placeholder {
  width: 208px;
  height: 30px;
  opacity: 1;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-size: 20px;
  text-align: left;
}
.btn {
  position: relative;
  z-index: 1;
  width: 497px;
  height: 62px;
  gap: 10px;
  padding: 101px 19px;
  opacity: 100%;
  border-radius: 10px;
}
.btn-get-touch {
  width: 95px;
  height: 24px;
  opacity: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  align-items: center;
  color: #ffffff 100%;
}
/*Action bar*/
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 140px 20px;
  max-width: 1140px;
  max-height: 328px;

  gap: auto;
}
.Left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 517px;
  height: 209px;
  gap: 26px;
  padding: 0px 0px;
}
.Left-section h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  color: #252432;
  margin-bottom: 0;
}
.action h4 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: #252432;
  line-height: 30px;
  letter-spacing: 0%;
  font-size: x-large;
  width: 517px;
  height: 60px;
  opacity: 100%;
}
.right_section {
  width: 403px;
  /* height: 328px;*/
}
.action_img {
  border-radius: 48px;
  opacity: 100%;

  width: 100%;
  height: auto;
  display: block;
}

/*Footer*/
.site-footer {
  width: 100%;
  min-height: 428px;
  background-color: #ffffff;
  padding: 60px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.footer-brand{
  margin: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  margin-bottom: 30px;
}
.footer_content-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 0px 0px;
}
.footer_logo {
  margin-top: 100px;
  margin-bottom: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 2em;
  color: #4e47ff;
  width: 100%;
  line-height: normal;
  text-align: center;
}
.footer-links-group {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}
.footer-links-group a {
  color: #8987a1;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 1em;
  transition: color 0.3s ease;
}

.footer-links-group a:hover {
  color: #4e47ff;
}
.footer-description {
  width: 531px;
  margin: 0 auto;
  text-align: center;
  color: #8987a1;
  opacity: 1;
}
